.btn-maroon {
    background-color: #d81b60 !important;
    color: #fff !important;
}

.btn-purple {
    background-color: #605ca8 !important;
    color: #fff !important;
}

.btn-navy {
    background-color: #001f3f !important;
    color: #fff !important;
}

.btn-orange {
    background-color: #ff851b !important;
    color: #fff !important;
}

.btn-olive {
    background-color: #3d9970 !important;
    color: #fff !important;
}