.cityselect {
    
    .input-container{
        display: inline-block;
        position: relative;
    }
}

.cityselect-box {
    background-color: #ffffff;
    position: absolute;
    width: 400px;
    // min-height: 200px;
    // top: 35px;
    left: 0;
    border: 1px solid #c2cad8;
    padding: 6px 0;
    z-index: 99;
}

.cityselect-box .row {
    padding: 5px 10px;
}

.cityselect-box .row .col-index {
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
}

.cityselect-box .row .col-list {
    padding-left: 0px;
    padding-right: 0px;
    text-align: left;
}

.cityselect-box ul {
    padding: 0;
    margin: 0;
}

.cityselect-box ul li {
    float: left;
    list-style: none;
    margin-right: 8px;
}

.cityselect-input {
    background-color: #ffffff;
}