.fg {
	margin-bottom: 6px;
}

.fg-label {
	padding-top: 7px;
	margin-bottom: 0;
	width: 16.66666667%;
	float: left;
}

.fg-control {
	float: left;
	width: 83.33333333%;
	position: relative;
	min-height: 1px;
	padding-top: 7px;
}

.form-horizontal .fg {
	margin-right: 15px;
	margin-left: 15px;
}

.form-inline {
	.fg {
		margin-right: 10px;
		margin-left: 0;
		float: left;
		width: auto;
		white-space: nowrap;
	}

	.fg-label {
		width: auto;
		padding-top: 12px;
	}

	.fg-control {
		width: auto;
	}

	.clear {
		clear: none;
	}
}

// label对齐方式
.form-left {
	.fg-label {
		text-align: left;
	}
}

.form-center {
	.fg-label {
		text-align: center;
	}
}

.form-right {
	.fg-label {
		text-align: right;
	}
}

// Input
.fg-input {

}

// Checkbox
.fg-checkbox {

	.fg-control {
		padding-top: 7px;

		label {
			vertical-align: middle;
			font-weight: normal;

			input {
				vertical-align: top;
				margin-right: 5px;
			}
		}
	}
}

// Text
.fg-text {

}

