$array: (0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 60, 70, 80, 90, 100);

@each $num in $array {
	.margin-t-#{$num} {
		margin-top: #{$num}px;
	}
	.margin-b-#{$num} {
		margin-bottom: #{$num}px;
	}
	.margin-l-#{$num} {
		margin-left: #{$num}px;
	}
	.margin-r-#{$num} {
		margin-right: #{$num}px;
	}
	.padding-t-#{$num} {
		padding-top: #{$num}px;
	}
	.padding-b-#{$num} {
		padding-bottom: #{$num}px;
	}
	.padding-l-#{$num} {
		padding-left: #{$num}px;
	}
	.padding-r-#{$num} {
		padding-right: #{$num}px;
	}
}
